
<app-header></app-header>
<app-card [titleCard]="'Pedidos'">
    <p-table [value]="demands">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Nº PEDIDO</th>
                <th>CLIENTE</th>
                <th>STATUS DO PEDIDO</th>
                <th>VALOR TOTAL</th>
                <th>ABRIR PEDIDO</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-demand>
            <tr>
                <td>
                    <p-tableCheckbox [value]="true"></p-tableCheckbox>
                </td>
                <td>{{ demand.idPedidos | zeroToLeft }}</td>
                <td>{{ demand.nomeCliente }}</td>
                <td>{{ demand.status }}</td>
                <td>{{ demand.valorPedido | currency: 'R$'}}</td>
                <td class="icones">
                    <button pButton  icon="pi pi-external-link" pTooltip="Abrir Pedido" tooltipPosition="top"></button>

                </td>
            </tr>
        </ng-template>
    </p-table>
    <div style="display: flex; justify-content: flex-end; align-content: space-around;" class="buttons-list">
        <div>
            <p-button label="ENVIAR PEDIDO" icon="pi pi-envelope"  class="p-button-secondary" iconPos="right" (click)="send()"></p-button>
        </div>
        <div>
            <p-button label="FINALIZAR O PEDIDO" icon="pi pi-check"  class="p-button-secondary" iconPos="right"></p-button>
        </div>
    </div>
</app-card>
<p-toast></p-toast>

