<app-header></app-header>
<div class="container">
    <form>

        <div class="ui-g">
            <div class="ui-g-12">
                <h1>Cadastrar Produto</h1>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Código *</label>
                <input style="width: 100%;" type="text" pInputText name="codigo" ngModel #codigo="ngModel" required />
                <app-message [control]="codigo" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-8">
                <label style="display: block;">Nome *</label>
                <input style="width: 100%;" type="text" pInputText name="nome" ngModel #nome="ngModel" required />
                <app-message [control]="nome" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Valor *</label>
                <input style="width: 100%;" type="text" pInputText name="valor" ngModel #valor="ngModel" required />
                <app-message [control]="valor" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Categoria *</label>
                <p-dropdown placeholder="Selecione" [options]="category" optionLabel="descricaoCategoria"></p-dropdown>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Quantidade *</label>
                <input style="width: 100%;" type="text" pInputText name="quantidade" ngModel #quantidade="ngModel" required />
                <app-message [control]="quantidade" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Marca *</label>
                <p-dropdown placeholder="Selecione" [options]="marca" optionLabel="descricaoMarca"></p-dropdown>
            </div>

            <div class="ui-g-4">
                <label style="display: block;">Medida *</label>
                <input style="width: 100%;" type="text" pInputText name="medida" ngModel #medida="ngModel" required />
                <app-message [control]="medida" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Peso *</label>
                <input style="width: 100%;" type="text" pInputText name="peso" ngModel #peso="ngModel" required />
                <app-message [control]="peso" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-2">
                <label style="display: block;">Espécie *</label>
                <p-dropdown placeholder="Selecione" [options]="especie" optionLabel="descricao" ></p-dropdown>
            </div>
            
            <div class="ui-g-2">
                <label style="display: block;">Status *</label>
                <p-dropdown placeholder="Selecione" [options]="status" optionLabel="name"></p-dropdown>
            </div>

            <div class="ui-g-12">
                <label style="display: block;">Descrição *</label>
                <textarea pInputTextarea style="width: 100%;" type="text"  name="descricao" ngModel #descricao="ngModel" required></textarea>               <app-message [control]="medida" error="required" text="Campo obrigatório."></app-message>
            </div>

            <div class="ui-g-12">
                <button pButton routerLink="/produtos" style="left: 76%; width: 10%;" type="button" label="Cancelar" ></button>
                <button pButton routerLink="/produtos" style="left: 80%; width: 10%;" type="button" label="Salvar"
                (click)="adicionar(codigo.value, nome.value, valor.value, quantidade.value, medida.value, peso.value, descricao.value)" ></button>

                <!-- <button pButton routerLink="/produtos" style="left: 80%; width: 10%;" type="button" label="Salvar"
                (click)="adicionar(idProduto.value, nome.value, valor.value, idCategoria.value, quantidade.value, idMarca.value,
                 unidadeMedida.value, peso.value, idEspecie.value,status.value, descricaoProduto.value)" ></button> -->
            </div>

        </div>
        <div>
        </div>


    </form>
</div>





