

.container{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label{
    font-weight: bold;
}

@media (min-width: 1200px){
    .container{
        width: 1270px;
        margin: 0 auto;
    
    }
}
.icones { 
    width: 102px;
    text-align: center;
}
.pencil {
    margin: 5px;
}
