<div class="container">

  <form [formGroup]="form">
    <div class="p-grid p-fluid">

      <div class="p-col-12">
        <h1>Login</h1>
      </div>

      <div class="p-col-12">
        <input pInputText type="email" formControlName="email" placeholder="E-mail"
          >
      </div>

      <div class="p-col-12">
        <input pInputText type="password" formControlName="senha" placeholder="Senha"
          >
      </div>

      <div class="p-col-6">
        <button pButton type="submit" label="Login" (click)="login()"></button>
        <button pButton type="submit" label="Sou novo quero me cadastrar" ></button>

      </div>


    </div>
  </form>

</div>