.container{
    
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
    max-width: 400px;
}

label{
    font-weight: bold;
}

button {
    margin-right: 4px;
    margin-top: 4px;
}
input {
    margin-top: 4px;
    width: 73%;
}